<%- model_class = Recipient -%>
<div class="page-header">
  <h1><%=t('recipients') %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:id) %></th>
      <th><%= t(:email) %></th>
      <th><%= t(:language) %></th>
      <th><%= t(:gender) %></th>
      <th><%= t(:salutation) %></th>
      <th><%= t(:name) %></th>
      <th><%= t(:patronymic) %></th>
      <th><%= t(:surname) %></th>
      <th><%= t(:created_at) %></th>
      <th><%=t 'Actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @recipients.each do |recipient| %>
      <tr>
        <td><%= link_to recipient.id, recipient_path(recipient) %></td>
        <td><%= recipient.email %></td>
        <td><%= lang_human(recipient.lang) %></td>
        <td><%= recipient.gender %></td>
        <td><%= recipient.salutation %></td>
        <td><%= recipient.name %></td>
        <td><%= recipient.patronymic %></td>
        <td><%= recipient.surname %></td>
        <td><%= recipient.created_at %></td>
        <td>
          <%= link_to t('Edit', :default => t("helpers.links.edit")),
                      edit_recipient_path(recipient), :class => 'btn btn-mini' %>
          <%= link_to t('Destroy', :default => t("helpers.links.destroy")),
                      recipient_path(recipient),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t('are_you_sure'))) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('New', :default => t("helpers.links.new")),
            new_recipient_path,
            :class => 'btn btn-primary' %>
