<div class="page-header">
  <h1><%=t 'letters' %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= t(:id) %></th>
      <th><%= t(:subject) %></th>
      <th><%= t(:language) %></th>
      <th><%= t(:inline_image) %></th>
      <th><%= t(:created_at) %></th>
      <th><%=t 'Actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @letters.each do |letter| %>
      <tr>
        <td><%= letter.id %></td>
        <td><%= link_to letter.subject, letter_path(letter) %></td>
        <td><%= lang_human(letter.lang) %></td>
        <td><%= letter.inline_image %></td>
        <td><%= letter.created_at %></td>
        <td>
          <%= link_to t('Edit', :default => t("helpers.links.edit")),
                      edit_letter_path(letter), :class => 'btn btn-mini' %>
          <%= link_to t(:send),
                      send_letter_path(letter),
                      :method => :post,
                      :class => 'btn btn-mini btn-warning' %>
          <%= link_to t('Destroy', :default => t("helpers.links.destroy")),
                      letter_path(letter),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => t('are_you_sure'))) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('New', :default => t("helpers.links.new")),
            new_letter_path,
            :class => 'btn btn-primary' %>
